<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}IFFT Tool{% endblock %}</title>

  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- Custom Styles (Optional) -->
  <!-- <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"> -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">

  <!-- jQuery and Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
 <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">IFFT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/welcome">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/output-viewer">Output Viewer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/graph">Graph Viewer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings">Settings</a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        {% block content %}
        {% endblock %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="container mt-3">
                {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
    </main>
    <footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">
            IFFT Tool © 2025 |
            <a href="https://github.com/thiagosantos0/IFFT" target="_blank">
                <i class="fab fa-github"></i> IFFT Repository
            </a>
        </span>
    </div>
</footer>

</body>
</html>

