{% extends "base.html" %}

{% block content %}

<script type="text/javascript" src="https://unpkg.com/vis-network@9.1.2/dist/vis-network.min.js"></script>
<div class="container mt-4">
    <h1>Graph Visualization</h1>
    <div class="alert alert-info">Explore the dependencies between files and blocks.</div>
    <!-- Graph Container -->
    <div id="graph-container" style="height: 600px; border: 1px solid lightgray;"></div>


<script>
    // Fetch graph data and initialize the graph visualization
    document.addEventListener("DOMContentLoaded", function () {
        fetch("/graph-data")
            .then(response => response.json())
            .then(data => {
                console.log(data);
                console.log("test");
                const container = document.getElementById('graph-container');
                                const options = {
                  edges: {
                      arrows: {
                          to: { enabled: true, scaleFactor: 1.5 }
                      },
                      color: {
                          color: '#848484',
                          highlight: '#008bff',
                          hover: '#007bff'
                      },
                      font: { align: 'top' },
                      smooth: {
                        type: 'dynamic',
                      },
                      width: 2
                  },
                  nodes: {
                      shape: 'dot',
                      size: 16,
                      font: { size: 14, color: '#000000' },
                      borderWidth: 2
                  },
                  physics: { enabled: true },
                  interaction: {
                      dragNodes: true,
                      zoomView: true,
                      hover: true,
                      navigationButtons: true,
                      keyboard: true
                  }
              };

                const network = new vis.Network(container, data, options);
            })
            .catch(error => {
                console.error("Error fetching graph data:", error);
                document.getElementById('graph-container').innerHTML = `
                    <div class="alert alert-danger">Error loading graph data</div>`;
            });
    });
</script>



{% endblock %}
